@mixin oneHundredPercent {
  .container {
    height: 100%;
    .row {
      height: 100%;
      *[class^='col-'] {
        height: 100%;
      }
    }
  }
}

@mixin verticalCenterMachine {
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}