.u-xs-inputGroup, .u-sm-inputGroup, .u-md-inputGroup, .u-lg-inputGroup {
  width: 100%;

  border: solid 1px $CurrentColor;

  position: relative;
  @include verticalCenterMachine;

  .u-inputAddon {
    display: inline-block;

    text-align: center;
    color: $CurrentColor;

    position: absolute;
    @include verticalCenterMachine;

    svg {
      fill: $CurrentColor;
    }
  }
  .u-inputText {
    position: absolute;

    padding: 0;
    outline: 0;
    border: none;
  }
}

.u-md-inputGroup {
  height: 40px;

  .u-inputAddon {
    height: 16px;
    width: 40px;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  .u-inputText {
    left: 40px;

    height: 38px;
    width: calc(100% - 40px);
  }
}

.u-xs-textGroup, .u-sm-textGroup, .u-md-textGroup, .u-lg-textGroup, .u-xl-textGroup {
  width: 100%;

  position: relative;
  @include verticalCenterMachine;

  .u-textAddon {
    position: absolute;

    height: 100%;

    display: inline-block;

    &.is-after {
      right: 0;
    }
    svg {
      position: absolute;
      @include verticalCenterMachine;
    }
  }

  .u-text {
    position: absolute;
    @include verticalCenterMachine;

    display: inline-block;

    vertical-align: middle;
  }
}

.u-xs-textGroup {
  height: 14px;
  .u-textAddon {
    width: 14px;
  }
  .u-text {
    line-height: 14px;
  }
}

.u-md-textGroup {
  height: 22px;
  .u-textAddon {
    width: 22px;
  }
  .u-text {
    line-height: 22px;
  }
}

.u-lg-textGroup {
  height: 38px;
  .u-textAddon {
    width: 38px;
  }
  .u-text {
    line-height: 22px;
  }
}

.u-xl-textGroup {
  height: 60px;
  .u-textAddon {
    width: 60px;
  }
  .u-text {
    line-height: 60px;
  }
}

.u-hamburgerIcon {
  width: calc(100% - 10px);
  height: 3px;

  background-color: $Black;

  position: absolute;
  left: 5px;
  top: 11px;

  transition: all .3s cubic-bezier(0.55, 0, 0.1, 1);

  &::before, &::after {
    content: '';

    display: block;
    width: 100%;
    height: 3px;

    background-color: $Black;
    position: absolute;

    transition: all .3s cubic-bezier(0.55, 0, 0.1, 1);
  }

  &::before {
    top: 8px;
    opacity: 1;
  }

  &::after {
    top: 16px;
  }

  &.is-active {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 18px;

    &::before {
      opacity: 0;

      top: 0;
    }

    &::after {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
      top: 0px;
    }
  }
}

.u-loadingSpinner {
  width: 10em;
  height: 10em;

  margin: 6em auto;

  font-size: 10px;

  position: relative;

  text-indent: -9999em;

  border-radius: 50%;
  border-top: 1.1em solid rgba(0, 0, 0, 0.2);
  border-right: 1.1em solid rgba(0, 0, 0, 0.2);
  border-bottom: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #666666;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  animation: load8 1.1s infinite linear;

  &::after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }
}


@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}